{% comment %}<!-- Фантазия 2.0 collection template for Awesome Filters -->{% endcomment %}
<script data-filters>
    {%- capture json_filters -%}{%- include "af_json_filters" -%}{%- endcapture -%}
    var filters = {{ json_filters | strip | strip_newlines }};
    var isSeoFilter = "{{ filter.title }}".length > 0;
</script>
<script>
  var collectionBlock = document.querySelector(".collection-wrapper .collection");
  collectionBlock.classList.remove("cell-9", "cell-8-md");
</script>
<style>
    .sidebar-block {
        display: none;
    }
    @media (min-width: 992px) {
        [data-af-filters-view] .collection-view__content {
            margin-top: 0;
        }
    }
</style>
{% include "breadcrumb", home_title: 'Главная' %}
<div id="app" style="min-height: 700px">
    <collection-view
            class="row"
            :filters="filters"
            :is-seo-filter="isSeoFilter"
            :products-total-count="{{ collection.products_count }}"
            current-collection="{{ collection.title }}"
            filters-col-class="cell-10 cell-8-md cell-12-sm"
            collections-col-class="cell-2 cell-12-sm">
        <template slot="before-filters">

            {% include "page_header" %}
            {% if settings.category_description_position == 'before_products'  and current_page == null %}
                <div class="collection-mix-description">
                    {% unless  settings.category_image_hidden == '1' or filter.description %}
                        {% unless collection.image.original_url contains 'no_image' %}
                            <div class="collection-image image-container">
                                <img src="{{ collection.image.original_url }}" alt="{{ collection.title }}" title="{{ collection.title }}"/>
                            </div>
                        {% endunless %}
                    {% endunless %}
                    {% if filter.description %}
                        <div class="collection-description at-top editor">
                            {{ filter.description | editable }}
                        </div>
                        {% elsif collection.description %}
                        <div class="collection-description at-top editor">
                            {{ collection.description | editable }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </template>
        <template slot="collections">
            <div class="collection-tree__header">
                Категории
            </div>
            <div class="collection-tree__list{% if collection.level != 0 %} active{% endif %}">
                {%- capture _collection-tree -%}
                    {%- capture cache_menu_key -%}cache_menu_key_{{- collections.last_updated_at -}}_{{- collection.handle -}}dd{%- endcapture -%}
                    {%- cache cache_menu_key -%}
                        {%- for collection in collections.flatten -%}
                            {%- if collection.show? -%}
                                <div class="collection-tree__list__item{% if collection.current? %} active{% endif %}{% if collection.has_subcollections? %} has_child{% endif %}{% if collection.level == 1 %} root{% endif %}">
                                    <a href="{{- collection.url -}}" class="collection-title">{{- collection.title -}}
                                        <span class="products-count">{{- collection.products_count -}}</span>
                                    </a>
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endcache -%}
                {%- endcapture -%}
                {{- _collection-tree | strip | strip_newlines -}}
            </div>
        </template>
        <template slot="products">
            {%- paginate products by 12 -%}
                {% include "collection_products" %}
            {%- endpaginate -%}
        </template>
    </collection-view>
</div>
{% if settings.category_description_position == 'after_products'  and current_page == null %}
    <div class="collection-mix-description">
        {% unless  settings.category_image_hidden == '1' %}
            {% unless collection.image.original_url contains 'no_image' %}
                <div class="collection-image image-container">
                    <img src="{{ collection.image.original_url }}" alt="{{ collection.title }}" title="{{ collection.title }}"/>
                </div>
            {% endunless %}
        {% endunless %}
        {% if filter.description %}
            <div class="collection-description at-bottom editor">
                {{ filter.description | editable }}
            </div>
            {% elsif collection.description %}
            <div class="collection-description at-bottom editor">
                {{ collection.description | editable }}
            </div>
        {% endif %}
    </div>
{% endif %}