{% comment %}<!-- Нейрон 2.0 collection template for Awesome Filters -->{% endcomment %}
<script data-filters>
    {%- capture json_filters -%}{%- include "af_json_filters" -%}{%- endcapture -%}
    var filters = {{ json_filters | strip | strip_newlines }};
    var isSeoFilter = "{{ filter.title }}".length > 0;
</script>
<style>
    .sidebar-block {
        display: none;
    }
</style>
{% include 'breadcrumb' %}
<div class="decorated-title-wrapper" id="app" style="min-height: 700px">
    {%- paginate products by 12 -%}
        <collection-view
                :filters="filters"
                :is-seo-filter="isSeoFilter"
                :products-total-count="{{ collection.products_count }}"
                current-collection="{{ collection.title }}"
                filters-col-class="page-content cell-10 cell-10-md cell-12-sm"
                collections-col-class="page-sidebar cell-2 cell-12-sm">
            <template slot="before-filters">
                <div class="decorated-title">
                    {% include "page_header" %}
                </div>
                {% if settings.category_description_position == 'before_products' and paginate.current_page == 1 %}

                    {% if filter.description %}

                        <div class="collection-description at-top content editor">
                            {{ filter.description | editable }}
                        </div>

                        {% elsif collection.description %}

                        <div class="collection-description at-top content editor">
                            {{ collection.description | editable }}
                        </div>

                    {% endif %}

                {% endif %}
            </template>
            <template slot="collections">
                <div class="collection-tree__header">
                    Категории
                </div>
                <div class="collection-tree__list{% if collection.level != 0 %} active{% endif %}">
                    {%- capture _collection-tree -%}
                        {%- capture cache_menu_key -%}cache_menu_key_{{- collections.last_updated_at -}}_{{- collection.handle -}}dd{%- endcapture -%}
                        {%- cache cache_menu_key -%}
                            {%- for collection in collections.flatten -%}
                                {%- if collection.show? -%}
                                    <div class="collection-tree__list__item{% if collection.current? %} active{% endif %}{% if collection.has_subcollections? %} has_child{% endif %}{% if collection.level == 1 %} root{% endif %}">
                                        <a href="{{- collection.url -}}" class="collection-title">{{- collection.title -}}
                                            <span class="products-count">{{- collection.products_count -}}</span>
                                        </a>
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                        {%- endcache -%}
                    {%- endcapture -%}
                    {{- _collection-tree | strip | strip_newlines -}}
                </div>
            </template>
            <template slot="products">
                {% include "collection_products" %}
            </template>
        </collection-view>
        {% if settings.category_description_position == 'after_products' and paginate.current_page == 1 %}

            {% if filter.description %}

                <div class="collection-description at-bottom content editor">
                    {{ filter.description | editable }}
                </div>

                {% elsif collection.description %}

                <div class="collection-description at-bottom content editor">
                    {{ collection.description | editable }}
                </div>

            {% endif %}
        {% endif %}

        {% unless filter %}
            {% if paginate.current_page == 1 %}
                <div class="collection-description is-seo content editor">
                    {{ collection.seo_description | editable }}
                </div>
            {% endif %}
        {% endunless %}
    {%- endpaginate -%}
</div>